<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
    <div class="inner">
        <h1>{{_i}}@import "mentorship";{{/i}}</h1>
    </div>
</header>

<section class="details row">
  <div class="offset2 span8">
    <p>NYC Tech Mobilizer is a lightweight summer program for great developers to network with and get mentorship from top NYC tech startup leaders. Each selected developer is paired up with their own mentor. For June, July and August, you schedule a time to grab breakfast/lunch/coffee and get to know each other. Your mentor is a source of advice, connections, and wisdom if you build a relationship.</p>
    <p>Aside from mentor-mentee meetings, we have get-togethers for everybody to mingle and meet one another. Mentors help their mentees network amongst the other mentors as well. The goal is to foster connections and a new wave of tech leadership in the NYC startup ecosystem.</p>
    <p>We have one requirement for application. Simply this: You must be a professional developer, interested in leading the NYC tech startup ecosystem.</p>
  </div>
</section>
