<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
    <div class="inner">
        <h1>{{_i}}@import "mentorship";{{/i}}</h1>
    </div>
</header>

<section class="details row">
  <div class="offset2 span8">
    <p>NYC Tech Mobilizer is a lightweight summer program for great developers to network with and get mentorship from top NYC tech startup leaders. Each selected developer will be paired up with their own mentor. For June, July and August, schedule a time to grab breakfast/lunch/coffee and get to know each other. Your mentor can be a source of advice, connections, and wisdom if you build a relationship.</p>
    <p>Aside from mentor-mentee meetings, we'll have a few get togethers for everybody to mingle and meet one another. Mentors should help their mentees network amongst the other mentors as well. The goal here is to foster connections and a new wave of tech leadership in the NYC startup ecosystem.</p>
    <p>Based upon feedback from last year's session, we have some requirements for applicants. Simply this: You must be a professional developer, interested in the joining the NYC tech startup ecosystem.</p>
    <p>Deadline is May 25th.</p>
    
    <h2><a href="https://docs.google.com/a/fondu.com/spreadsheet/viewform?formkey=dGhmeUE3SEFnb0NrTk1MY3VQcWZWM0E6MQ">Apply</a></h2>
  </div>
</section>
