<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
    <div class="inner">
        <h1>Our fearless mentors</h1>
    </div>
</header>

<section class="mentors row">
    <ul class="offset2 span8">
        <li class="mentor">
            <p class="name"><a href="http://twitter.com/dblockdotorg">Daniel Doubrovkine</a></p>
            <img src="https://si0.twimg.com/profile_images/1157542777/13118-DSC_5535_bigger.jpg" />
            <p class="company"><a href="http://art.sy/">art.sy</a></p>
            <p class="position">tech lead</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="http://twitter.com/ScotterC">Scott Carleton</a></p>
            <img src="https://si0.twimg.com/profile_images/1870870833/i-vzWNt8b-XL_bigger.jpg" />
            <p class="company"><a href="http://artsicle.com/">Artsicle</a></p>
            <p class="position">co-founder, CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/liscrawford">Liz Crawford</a></p>
            <img src="https://si0.twimg.com/profile_images/467129147/_MG_4693_bigger.JPG" />
            <p class="company"><a href="http://birchbox.com/">Birchbox</a></p>
            <p class="position">CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/petemiron">Pete Miron</a></p>
            <img src="https://si0.twimg.com/profile_images/1685125277/image_bigger.jpg" />
            <p class="company"><a href="http://bitly.com/">bitly</a></p>
            <p class="position">VP Engineering</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/mLewisLogic">Mike Lewis</a></p>
            <img src="https://si0.twimg.com/profile_images/1377606563/222395_773363725975_24401341_38147530_5272613_n_bigger.jpg" />
            <p class="company"><a href="http://fondu.com/">Fondu</a></p>
            <p class="position">co-founder, CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/harryh">Harry Heymann</a></p>
            <img src="https://si0.twimg.com/profile_images/1724078213/f21f2dd42f1b11e1abb01231381b65e3_7_bigger.jpeg" />
            <p class="company"><a href="http://foursquare.com/">foursquare</a></p>
            <p class="position">CTO</p>
        </li>
        <li class="mentor">
            <p class="name">Steve Jacobs</p>
            <img src="http://m3.licdn.com/mpr/mpr/shrink_100_100/p/1/000/0a2/3bd/32c19de.jpg" />
            <p class="company"><a href="http://gilt.com/">Gilt Groupe</a></p>
            <p class="position">CIO</p>
        </li>
        <li class="mentor">
            <p class="name">Gary Burns</p>
            <img src="http://img2.meetupstatic.com/606555684505756557161/img/staff_pics/gary_1.jpg" />
            <p class="company"><a href="http://meetup.com/">Meetup</a></p>
            <p class="position">CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/dbness">Vanessa Hurst</a></p>
            <img src="https://si0.twimg.com/profile_images/1769344457/vanessa_eng_head_bigger.jpg" />
            <p class="company"><a href="http://girldevelopit.com/">Girl Develop It!</a></p>
            <p class="position">co-founder</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/spinosa">Dan Spinosa</a></p>
            <img src="https://si0.twimg.com/profile_images/1995550230/goat_bigger.gif" />
            <p class="company"><a href="http://shelby.tv/">Shelby.tv</a></p>
            <p class="position">co-founder, CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/malcolmcasey">Malcolm Ong</a></p>
            <img src="https://si0.twimg.com/profile_images/1860032118/profile9_crop_bigger.jpg" />
            <p class="company"><a href="http://skillshare.com/">Skillshare</a></p>
            <p class="position">co-founder, CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/owocki">Kevin Owocki</a></p>
            <img src="https://si0.twimg.com/profile_images/1790110511/Screen_Shot_2012-01-29_at_12.50.14_PM_bigger.png" />
            <p class="company"><a href="http://stepout.com/">StepOut</a></p>
            <p class="position">co-founder, CTO</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/jameshlinder">James Linder</a></p>
            <img src="https://si0.twimg.com/profile_images/1306916240/2007.11.09_bigger.jpg" />
            <p class="company"><a href="http://tykoon.com/">Tykoon</a></p>
            <p class="position">VP Engineering</p>
        </li>
        <li class="mentor">
            <p class="name"><a href="https://twitter.com/zmsmith">Zach Smith</a></p>
            <img src="https://si0.twimg.com/profile_images/1101430694/IMG_1884_2small_bigger.jpg" />
            <p class="company"><a href="http://yipit.com/">Yipit</a></p>
            <p class="position">Tech Product Manager</p>
        </li>
    <ul>
</section>
