<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
    <div class="inner">
        <h1>{{_i}}NYC Tech Mobilizer{{/i}}</h1>
        <p>From dev to tech lead through mentorship</p>
    </div>
</header>

<section class="overview row">
  <div class="offset2 span8">
    <p>NYC Tech Mobilizer is a free summer mentorship program for smart techies looking to get onto the inside track of NYC startups. We pair promising developers up with startup CTOs and tech leaders who can help them navigate the waters. Every mentor is a developer who grew themselves through self-improvement, connections, and years in the trenches. They want to share that knowledge with you.</p>
    <p>Do you crush technical problems with a mere glance? Love building and architecting systems? Looking to grow your tech leadership prowess?</p>
    <p>Mobilizer is your chance to get to know over a dozen of the city's top startup tech leaders, along with other up and coming developers. Take a few hours this summer to tap into NYC's exploding startup scene. Apply here.</p>
  </div>
</section>
