<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NYC Tech Mobilizer - a mentorship program for developers interested in New York City's tech startup scene">
    <meta name="author" content="Mike Lewis">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{overview}}">
                <a href="./overview.html">{{_i}}Overview{{/i}}</a>
              </li>
              <li class="{{mentors}}">
                <a href="./mentors.html">{{_i}}Mentors{{/i}}</a>
              </li>
              <li class="{{details}}">
                <a href="./details.html">{{_i}}Details{{/i}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

{{>body}}


     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p>{{_i}}organized by <a href="http://twitter.com/mLewisLogic" target="_blank">@mLewisLogic</a> at <a href="http://fondu.com" target="_blank">fondu.com</a>{{/i}}</p>
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script defer="defer" src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
